/*
 * @Descripttion: kg-ui
 * @Author: pujianguo
 * @Date: 2021-03-11 09:17:11
 */

// iphoneX底部空白
.kg-iphonex-margin-bottom{
  margin-bottom: 48rpx;
}

// 底部按钮组
.kg-footer-btn-wrapper{
  padding: 50rpx 30rpx;
  width: 100%;
  @include flex-center();
	.kg-footer-btn {
    flex: 1;
		margin: 0 30rpx;
	}
}
// 按钮去掉边框
.kg-btn-no-border{
  border: none;
  &::after{
    border: none;
  }
}

// 分割线
.kg-line-divider{
  height: 1rpx;
  width: 100%;
  background-color: $uni-border-color;
}
// 含有文字的分割线
.kg-line-text{
  width: 100%;
  padding: 0 20rpx;
  @include flex-center();
  &::before{
    content: ' ';
    height: 1px;
    background: $uni-border-color;
    flex: 1;
  }
  &::after{
    content: ' ';
    height: 1px;
    background: $uni-border-color;
    flex: 1;
  }
  text{
    padding: 0 15rpx;
  }
}

// icon-size
.kg-icon-size-sm{
  font-size: 24rpx;
  width: 24rpx;
  height: 24rpx;
}
.kg-icon-size{
  font-size: 32rpx;
  width: 32rpx;
  height: 32rpx;
}
.kg-icon-size-lg{
  font-size: 48rpx;
  width: 48rpx;
  height: 48rpx;
}

// flex
.kg-flex-center{
  @include flex-center();
}

/* *************** panel *************** */
.kg-panel{
  border-bottom: 1rpx solid $uni-border-color;
  .kg-panel-hd{
    padding: 15rpx 20rpx;
    line-height: 2em;
    display: flex;
    align-items: center;
    .kg-panel-hd-flag{
      width: 8rpx;
      height: 32rpx;
      margin-right: 16rpx;
      background-color: $uni-color-primary;
      border-radius: 4rpx;
    }
    .kg-panel-hd-title{
      flex: 1;
      .kg-panel-hd-title-text{
        display: inline-block;
        vertical-align: middle;
        margin-right: 20rpx;
      }
      .kg-panel-hd-title-desc{
        display: inline-block;
        vertical-align: middle;
        line-height: 1.4;
				font-size: $uni-font-size-sm;
        color: $uni-color-subtitle;
      }
    }
    .kg-panel-hd-icon{
    }
  }
  .kg-panel-bd{
  }
  .kg-panel-ft{
    font-size: 30rpx;
		padding: 30rpx 30rpx;
		background-color: $uni-bg-color;
    @include flex-between();
    border-top: 1rpx solid $uni-border-color;
		.kg-panel-ft-hd{
		}
		.kg-panel-ft-bd{
		}
		.kg-panel-ft-ft{
		}
  }
}


/* *************** cell *************** */
.kg-cell-box{
  .kg-cells-title{
    color: $uni-color-title;
    line-height: 50rpx;
    padding-left: 20rpx;
  }
  .kg-cells-title + .kg-cells{
    margin-top: 0;
  }

  .kg-cells{
    background: $uni-bg-color;
    margin-top: 20rpx;
    &:first-of-type{
      margin-top: 0;
    }
    .kg-cell{
      display: flex;
      align-items: center;
      min-height: 2em;
      line-height: 2em;
      padding-left: 30rpx;
      .kg-cell-icon{
        width: 18px;
        height: 18px;
        font-size: 18px;
        margin-right: 10px;
      }
      .kg-cell-image{
        width: 2em;
        height: 2em;
        margin-right: 10px;
      }
      .kg-cell-content{
        flex: 1;
        @include flex-between();
        border-bottom: 1rpx solid $uni-border-color;
        padding: 20rpx 20rpx 20rpx 0;
        overflow: hidden;
        &-hd{
          width: 2em;
          height: 2em;
          margin-right: 20rpx;
        }
        &-bd{
          &-title{
            line-height: 40rpx;
            padding-right: 40rpx;
          }
          &-desc{
            padding-right: 40rpx;
            color: $uni-text-color-placeholder;
            line-height: 30rpx;
            font-size: $uni-font-size-sm;
            margin-top: 8rpx;
          }
        }
        &-ft{
          color: $uni-text-color-placeholder;
          font-size: $uni-font-size-sm;
          line-height: 1;
        }
      }
      &_access{
        .kg-cell-content{
          position: relative;
          padding-right: 60rpx;
          &:before{
            content: " ";
            display: inline-block;
            top: 50%;
            right: 15px;
            height: 6px;
            width: 6px;
            border-width: 1px 1px 0 0;
            border-color: $uni-text-color-grey;
            border-style: solid;
            position: absolute;
            margin-top: -3px;
            transform: rotate(45deg);
          }
        }
      }
      &:last-child{
        .kg-cell-content{
          border: 0;
        }
      }
      &:active{
        background: $uni-bg-color-hover;
      }
    }
    .kg-cell_active{
      background: $uni-bg-color-hover;
    }
    .kg-cell_flex-start{
      align-items: flex-start;
      .kg-cell-icon{
        padding: 20rpx 0;
        font-size: inherit;
        height: 2em;
        box-sizing: content-box;
        @include flex-center();
        .iconfont{
          width: 18px;
          height: 18px;
          font-size: 18px;
        }
      }
      .kg-cell-content{
        min-height: 2em;
        box-sizing: content-box;
        .kg-cell-content-bd{
          @include flex-center();
          padding-right: 40rpx;
          word-break: break-all;
        }
      }
      .kg-cell-icon_access{
        position: relative;
        margin-right: 0;
        &:before{
          content: " ";
          display: inline-block;
          top: 50%;
          right: 15px;
          height: 6px;
          width: 6px;
          border-width: 1px 1px 0 0;
          border-color: $uni-text-color-grey;
          border-style: solid;
          position: absolute;
          margin-top: -3px;
          transform: rotate(45deg);
        }
      }
    }
  }
}
// 深色下划线（背景为page颜色时使用）
.kg-cell-box_border-dark{
  .kg-cell .kg-cell-content{
    border-color: $uni-border-color-dark !important;
  }
}
