/*
 * @Descripttion: 重置样式
 * @Author: pujianguo
 * @Date: 2021-03-11 09:17:11
 */
@import 'mixins.scss';

page {
  background-color: $uni-bg-color-page;
  font-size: $uni-font-size-base;
  color: $uni-text-color;
}
@include page();

view, scroll-view, swiper, swiper-item, button, input, textarea, label, navigator, image {
  box-sizing: border-box;
}

// switch，无法设置大小， 可用transform设置
switch, checkbox, radio {
  transform: scale(0.8);
}

.iconfont{
  display: inline-block;
  font-size: 48rpx;
  @include flex-center();
  &::before{
    display: inline-block;
  }
}

/** *************** 小程序组件默认class *************** **/
.input-placeholder, .textarea-placeholder{
  font-size: $uni-font-size-sm;
  color: $uni-text-color-placeholder;
}
